*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container img{
    width: 100%;
    overflow: hidden;
}
#container{
    display: none;
}